@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
   background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/131106145953-travel-and-leisure-euro-village-bibury.jpg?q=w_2567,h_1711,x_0,y_0,c_fill");
   background-size: cover;
   background-repeat: no-repeat;
   font-family: "Barlow", sans-serif;
   margin: 0;
   padding: 0;
   color: white;
   text-align: center;
   display: flex;
   flex-direction: column;
   height: 100%;
   min-height: 100vh;

}



.h1_background {
   max-width: fit-content;
   margin: 20px auto;
   padding: 10px 20px;
   border-radius: 10px;
   animation: fadeIn 1.5s ease-in-out;
}

h1{
   background-color: rgba(0, 128, 0, 0.6);
   max-width: fit-content;
   margin: 20px auto;
   padding: 10px 20px;
   border-radius: 10px;
   animation: fadeIn 1.5s ease-in-out;

}

.h1_background_peoples_choice {
   background-color: rgba(0, 128, 0, 0.6);
   max-width: fit-content;
   margin: 20px auto;
   padding: 10px 20px;
   border-radius: 10px;
   animation: fadeIn 1.5s ease-in-out;
}

.navbar {
   background-color: rgba(0, 128, 0, 0.8);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
}

.nav-links {
   list-style: none;
   display: flex;
   gap: 20px;
}

.nav-links li a {
   text-decoration: none;
   color: white;
   font-weight: bold;
   font-size: 25px;
   transition: color 0.3s ease-in-out;
}

.nav-links li a:hover{
   color: #ffcc00;
}

.logo img {
   width: 100px;
   height: auto;
}


.home-intro {
   background: rgba(0, 0, 0, 0.5);
   padding: 20px;
   border-radius: 10px;
   max-width: 600px;
   margin: 20px auto;
   animation: fadeIn 1.5s ease-in-out;
}

.milk-products{
   display: flex;
   justify-content:center;
   flex-wrap: wrap;
   gap: 20px;
   font-weight: bolder;
   
}

.fruit{
   display: flex;
   justify-content:center;
   flex-wrap: wrap;
   margin-top: 100px;
   gap: 20px;
}

.fruit_h1{
   margin-top: 100px;
   margin-bottom: -50px;
}

.animal-derived{
   display: flex;
   justify-content:center;
   flex-wrap: wrap;
   margin-top: 100px;
   gap: 20px;
   font-weight: bolder;
}

.animal-derived_h1{
   margin-top: 100px;
   margin-bottom: -50px;
}


.nuts{
   display: flex;
   justify-content:center;
   flex-wrap: wrap;
   margin-top: 100px;
   gap: 20px;
}

.nuts_h1{
   margin-top: 100px;
   margin-bottom: -50px;
}

.product {           
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: fit-content;
   background: white;
   color: black;
   padding: 20px;
   border-radius: 15px;
   max-width: 300px;
   max-height: fit-content;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   text-align: center;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   animation: fadeIn 1.5s ease-in-out;
}

.product img {
   width: 150px;
   height: 200px;
   border-radius: 10px;
   align-self: center;
}


.product:hover {
   transform: scale(1.05);
   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.Buy {
   background-color: green;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   border-radius: 5px;
   font-size: 16px;
}

.Buy a{
   text-decoration: none;
   color: white;
}

footer {
   margin-top: 50px;
   background-color: green;
   padding: 20px;
}

footer a{
   text-decoration: none;
   color: white;
}

footer a:hover{
   color: #ffcc00;
}


.footer-box{
   display: flex;
   justify-content: center;
   gap: 750px;
}

.footer-container{
   justify-content: flex-start;
   text-align: left;
}

.payment_method {
   display: flex;
   justify-content: flex-end; 
   align-items: center; 
   gap: 10px; 
   height: 100px;
   margin-top: 20px;
   padding-bottom: 0;
}
.payment_method img {
   width: 150px;
   height: 100px;
   background-color: white;
   border-radius: 10px;
   justify-content: flex-end;
}




@keyframes fadeIn {
   from {
       opacity: 0;
       transform: translateY(20px);
   }
   to {
       opacity: 1;
       transform: translateY(0);
   }
}