@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
   background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/131106145953-travel-and-leisure-euro-village-bibury.jpg");
   background-repeat: no-repeat;
   font-family: "Barlow", sans-serif;
   background-size: cover;
   margin: 0;
   padding: 0;
   color: white;
   text-align: center;

}

.text {
   background-color: rgba(0, 128, 0, 0.6);
   max-width: fit-content;
   margin: 40px auto;
   margin-bottom: 70px;
   padding: 10px 20px;
   border-radius: 10px;
   animation: fadeIn 0.2s ease-in-out;
}


.buy-box{
    color: black;
    font-weight: 500;
    border-radius: 10px;
    display:block;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: fit-content;
    max-height: fit-content;
    animation: fadeIn 0.2s
}



.form-container {
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 50px;
    align-items: flex-start;
    transform: scale(1.2); 
    transform-origin: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}


input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: green;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

#exp-date-mm{
    width: 100px;
    margin-top: 20px;
    
}

#exp-date-yy{
    width: 100px;
    margin-top: 20px;
}


.navbar {
   background-color: rgba(0, 128, 0, 0.8);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
}

.nav-links {
   list-style: none;
   display: flex;
   gap: 20px;
}

.nav-links li a {
   text-decoration: none;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: color 0.3s ease-in-out;
}

.nav-links li a:hover{
   color: #ffcc00;
}

.logo img {
   width: 100px;
   height: auto;
}

.cart_icon {
    position:absolute;
    right: 90px;
}


.cart_icon img {
    width: 130px; 
    height: auto; 
    display: block; 
}


.home-intro {
   background: rgba(0, 0, 0, 0.5);
   padding: 20px;
   border-radius: 10px;
   max-width: 600px;
   margin: 20px auto;
   animation: fadeIn 1.5s ease-in-out;
}


footer {
   margin-top: 50px;
   background-color: green;
   padding: 20px;
}

footer a{
   text-decoration: none;
   color: white;
}

footer a:hover{
   color: #ffcc00;
}

.footer-box{
    display: flex;
    gap: 750px;
 }
 
.footer-container{
    justify-content: flex-start;
    text-align: left;
}

.payment_method {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    gap: 10px; 
    height: 100px;
    margin-top: 20px;
    padding-bottom: 0;
}
.payment_method img {
    width: 150px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
}

@keyframes fadeIn {
   from {
       opacity: 0;
       transform: translateY(20px);
   }
   to {
       opacity: 1;
       transform: translateY(0);
   }
}