<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">
    <title>ნატურალური პროდუქტები - Home</title>
</head>
<body>
    <div class="main">
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('product') }}">Products</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
            
            <div class="logo">
                <img src="{{ url_for('static', filename='why_no_background.png') }}" alt="Logo">
            </div>
        </nav>



        <div class="text"><h1>Complete Your Purchase</h1></div>
        <div class="buy-box">

            <div class="form-container">
                <form>
                  <label for="cardholder-name">Cardholder Name</label>
                  <input type="text" id="cardholder-name" placeholder="e.g. Jane Appleseed" required>
          
                  <label for="card-number">Card Number</label>
                  <input type="text" id="card-number" placeholder="e.g. 1234 5678 9123 0000" required>
          
                  <div style="display: flex; gap: 10px;">
                    <div class="exp-date-month">
                      <label for="exp-date-mm">Exp. Date (MM)</label>
                      <input type="text" id="exp-date-mm" placeholder="MM" maxlength="2" required>
                    </div>
                    <div class="exp-date-year">
                      <label for="exp-date-yy">Exp. Date (YY)</label>
                      <input type="text" id="exp-date-yy" placeholder="YY" maxlength="2" required>
                    </div>
                  </div>
          
                  <label for="cvc">CVC</label>
                  <input type="text" id="cvc" placeholder="e.g. 123" maxlength="3" required>
                  <button class="button" type="button">Confirm</button>
                </form>
              </div>

                <div id="thank-you" style="display: none;">
                    <h2>Thank you for your purchase!</h2>
                    <p>Your payment has been successfully processed.</p>
                </div>
        </div>
        
        <footer class="footer-box">
            <div class="footer-container">
                <h1>For any inquiry please reach us at:</h1>
                <li>Contact Us: (206) 342-8631</li>
                <li>Email: slobodandrilic@gmail.com</li>
                <li>For more info click <a href="{{ url_for('contact') }}">here</a></li>
                <h3>We will make every possible attempt to get back to you as soon as we can.</h3> 
            </div>
    
            <div class="payment_method">
                <a href="{{ url_for('cart') }}"><img src="https://bacsociety.com/wp-content/uploads/2023/08/logo-Paypal-1.png"></a>
                <a href="{{ url_for('cart') }}"><img src="https://www.investopedia.com/thmb/F8CKM3YkF1fmnRCU2g4knuK0eDY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/MClogo-c823e495c5cf455c89ddfb0e17fc7978.jpg"></a>
                <a href="{{ url_for('cart') }}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIjhb3u5RBDP10cw-cwtGFOVR_HENoUDLwGg&s"></a>
            </div>
        </footer>
</body>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</html>
